
@import 'variables';

aside {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-basis: 280px;
  color: #fff;
  background-color: $dark;
  border-right: 1px solid #ccc;

  .switcher {
    position: relative;
    display: block;
    flex-shrink: 0;
    flex-basis: 54px;
    cursor: pointer;
    background-color: $dark;
    border-bottom: 1px solid lighten($dark, 15%);
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    z-index: 10;

    &:hover {
      .switcher__legend {
        .switcher__legend_caret {
          opacity: 0.9;
        }
      }
    }

    .switcher__legend {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      padding-left: 15px;

      .switcher__legend_caret {
        display: block;
        position: absolute;
        top: 50%;
        right: 9px;
        margin-top: -8px;
        width: 9px;
        height: 9px;
        border-right: 2px solid #fff;
        border-bottom: 2px solid #fff;
        transform: rotate(45deg);
        transition: transform 0.2s;
        opacity: 0.6;
      }
    }

    &.switcher--expanded {
      .switcher__menu {
        display: block;
      }

      .switcher__legend {
        .switcher__legend_caret {
          margin-top: 0;
          border-right: none;
          border-bottom: none;
          border-left: 2px solid #fff;
          border-top: 2px solid #fff;
        }
      }
    }

    &.switcher--not-clickable {
      border-bottom: none;
      cursor: default;
      .switcher__legend_caret {
        display: none;
      }
    }

    .switcher__menu {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      z-index: 999;

      ul {
        li {
          background-color: $editor_dark;
          padding: 12px 0 12px 15px;
          &:hover {
            background-color: lighten($magenta_light, 10%);
          }
          &.active {
            background-color: $magenta_light;
          }
        }
      }
    }
  }

  .projects {
    position: relative;
    flex-basis: 100%;
    flex-grow: 1;
    padding-top: 5px;
    padding-bottom: 54px;
    background-color: $dark;
    overflow: hidden;
    z-index: 9;

    .projects_inner {
      height: 100%;
      overflow-x: hidden;
      overflow-y: auto;
    }

    .projects_item {
      position: relative;
      padding: 3px 0;
      color: $yellow_light;
      cursor: pointer;
      white-space: nowrap;
      transition: 0.2s;

      & > div {
        width: 100%;
        height: 100%;
        padding: 6px 35px 6px 35px;
      }

      label {
        display: block;
        max-width: 100%;
        height: 17px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        position: relative;
        cursor: pointer;
        -moz-user-select: none;
        -khtml-user-select: none;
        user-select: none;
        z-index: 10;
      }

      input[type="text"] {
        display: none;
        position: relative;
        border: 1px solid #eee;
        background-color: transparent;
        color: $yellow;
        width: 100%;
        height: 20px;
        margin-left: -7px;
        z-index: 10;
      }

      .projects_item_icon {
        position: absolute;
        z-index: 10;

        svg {
          width: 100%;
          height: 100%;
        }

        &.item_icon_lock {
          display: none;
          top: 9px;
          right: 15px;
          width: 12px;
          height: 12px;
        }
      }

      .projects_item_check {
        display: none;
        position: absolute;
        top: 9px;
        left: 15px;
        width: 13px;
        height: 13px;
        border: 1px solid #888;
        border-radius: 3px;
        cursor: pointer;
        transition: 0.2s;

        input[type="checkbox"] {
          display: none;
        }

        label {
          display: block;
          width: 100%;
          height: 100%;
        }
      }

      &.active {
        & > div {
          background-color: $magenta_light;
        }

        &:hover {
          background-color: transparent;
          & > div {
            background-color: $magenta_light;
          }
        }
      }

      &.lock {
        .item_icon_lock {
          display: block;
        }
      }

      &.checked {
        &:not(.active) {
          background-color: darken($dark, 5%);
        }

        .projects_item_check {
          display: block;
          background-color: $yellow;
        }
      }

      &:hover {
        background-color: darken($dark, 3%);
        color: $yellow;

        .projects_item_check {
          display: block;
        }
      }
    }

    .projects_archive {
      position: absolute;
      bottom: 0;
      left: 0;
      display: flex;
      align-items: center;
      width: 100%;
      height: 54px;
      padding-left: 35px;
      flex-shrink: 0;
      color: $yellow_light;
      border-top: 1px solid lighten($dark, 15%);
      cursor: pointer;

      &:hover {
        &:after {
          border-color: lighten($dark, 45%);
        }
      }

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        margin-top: -5px;
        right: 15px;
        width: 9px;
        height: 9px;
        border-top: 2px solid lighten($dark, 15%);
        border-right: 2px solid lighten($dark, 15%);
        transform: rotate(45deg);
        transition: 0.2s;
      }

      &.active {
        background-color: darken($dark, 5%);
      }
    }
  }

  .projects_editor {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 15px;
    background-color: darken($dark, 5%);
    z-index: 8;
    transition: 0.3s;

    &.expanded {
      transform: translateX(100%);
    }

    .projects_editor_inner {
      flex-basis: 100%;
      flex-grow: 1;
      overflow-x: hidden;
      overflow-y: auto;
      padding-right: 15px;

      a {
        display: flex;
        text-decoration: none;
        color: #fff;
        font-size: 13px;

        &.--remove {
          color: $editor_red;

          span {
            border-color: $editor_red;
          }
        }

        span {
          display: block;
          border-bottom: 1px dashed #fff;
        }
      }

      .icon {
        display: block;
        width: 15px;
        height: 15px;
        margin-right: 6px;
      }
    }

    .form-group {
      .form-group-inner {
        label {
          color: #fff;
        }
      }
    }

    form {
      input[type="text"] {
        height: 20px;
        font-size: 13px;
      }
    }

    .projects_editor_footer {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-basis: 54px;
      flex-shrink: 0;
      padding-right: 15px;

      a {
        display: block;
        margin-right: 15px;
        color: $yellow_light;
        text-decoration: none;
      }
    }
  }

  .projects_editor_title,
  .projects_archives_title {
    display: flex;
    align-items: center;
    flex-basis: 54px;
    flex-shrink: 0;
  }

  .projects_archives {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 15px;
    background-color: darken($dark, 5%);
    z-index: 8;
    transition: 0.3s;

    &.expanded {
      transform: translateX(100%);
    }
  }

  .projects_archives_inner {
    flex-basis: 100%;
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 5px;

    ul {
      li {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 9px 35px 9px 0px;
        color: $yellow_light;
        cursor: default;
        transition: 0.2s;

        &:hover {
          .icon {
            display: block;
          }
        }

        small {
          display: block;
          margin-top: 4px;
          color: $blue-gray;
        }
      }
    }

    .icon {
      position: absolute;
      top: 9px;
      display: none;
      width: 15px;
      height: 15px;
      cursor: pointer;
      transition: 0.2s;
      svg {
        max-width: 100%;
        max-height: 100%;
      }
    }

    .icon-restore {
      right: 36px;
    }
    .icon-remove {
      right: 15px;
    }
  }

  .markdown {
    flex-basis: 100%;
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 5px;

    ul {
      li {
        display: flex;
        flex-direction: column;

        span {
          position: relative;
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          padding: 6px 15px 6px 35px;
          cursor: pointer;
          color: $blue-gray;

          &:hover {
            background-color: darken($dark, 3%);
            color: lighten($blue-gray, 9%);
            &.tree_item_plus,
            &.tree_item_minus:not(.tree_item_empty) {
              &:before {
                opacity: 0.9;
              }
            }
          }

          &.tree_item_plus {
            &:before {
              content: '+';
              position: absolute;
              top: 7px;
              left: 15px;
              display: flex;
              justify-content: center;
              width: 12px;
              height: 12px;
              color: $yellow_light;
              border: 1px solid $yellow_light;
              line-height: 8px;
              opacity: 0.7;
            }
          }
          &.tree_item_minus {
            &:before {
              position: absolute;
              top: 7px;
              left: 15px;
              content: '-';
              display: flex;
              justify-content: center;
              width: 12px;
              height: 12px;
              font-weight: 700;
              color: $yellow_light;
              border: 1px solid $yellow_light;
              line-height: 8px;
              opacity: 0.7;
            }
          }
          &.tree_item_empty {
            &:before {
              color: $red_light;
              border-color: $red_light;
              opacity: 0.4;
            }
          }
          &.tree_item_node {
            &:before {
              content: '';
              position: absolute;
              top: 12px;
              display: block;
              height: 1px;
              width: 21px;
              background-color: $green_light;
              opacity: 0.7;
            }
          }
        }

        &.level-1 {
          font-size: 14px;
        }
        &.level-2 {
          font-size: 13px;
          span {
            padding-left: 46px;
            &.tree_item_plus,
            &.tree_item_minus {
              &:before {
                left: 16px;
              }
            }
            &.tree_item_node {
              &:before {
                left: 21px;
              }
            }

            &:after {
              content: '';
              position: absolute;
              top: 0;
              left: 21px;
              display: block;
              width: 1px;
              height: 100%;
              background-color: $green_light;
              opacity: 0.5;
            }

            &.tree_item_node--last {
              &:after {
                height: 50%;
              }
            }
          }
        }
        &.level-3 {
          font-size: 12px;
          span {
            padding-left: 50px;
            &.tree_item_plus,
            &.tree_item_minus {
              &:before {
                left: 22px;
              }
            }
            &.tree_item_node {
              &:before {
                left: 17px;
              }
            }

            &:after {
              content: '';
              position: absolute;
              top: 0;
              left: 10px;
              display: block;
              width: 6px;
              height: 100%;
              border-left: 1px solid $green_light;
              border-right: 1px solid $green_light;
              background-color: transparent;
              opacity: 0.5;
            }
          }
        }
      }
    }
  }

  .json_viewer {
    display: flex;
    padding-top: 15px;
    padding-left: 15px;
    padding-top: 5px;
    button {
      width: 33px;
      padding: 0;
      background: none;
      border: none;
      cursor: pointer;
      opacity: 0.85;
      margin-right: 5px;

      &:hover {
        opacity: 1;
      }

      &:active {
        opacity: 1;
        transform: scale(0.85);
      }
    }
  }

  .links,
  .todo {
    display: flex;
    padding-top: 15px;
    padding-left: 15px;
    padding-top: 5px;
    button {
      width: 25px;
      height: 25px;
      padding: 0;
      background: none;
      border: none;
      cursor: pointer;
      opacity: 0.85;
      margin-right: 5px;

      &:hover {
        opacity: 1;
      }

      &:active {
        opacity: 1;
        transform: scale(0.85);
      }
    }
  }
}