
// fonts
$regular: 'Roboto-Regular';
$thin: 'Roboto-Thin';

$dark: #303d3c;

// colors
$blue: #2766BA;
$blue_light: #2A86BB;

$red: #FB004D;
$red_light: #FB404F;

$yellow: #FFE66A;
$yellow_light: #FFE680;

$green: #86FF00;
$green_light: #AEFF00;

$magenta: #5F2F73;
$magenta_light: #752F73;

$blue-gray: #b7c5ca;

$editor_green: #72c749;
$editor_dark:  #141414;
$editor_blue: #35bdff;
$editor_yellow: #eeea53 ;
$editor_red: #CF6A4C;

