{
  "comments": false,
  "env": {
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "modules": "commonjs",
            "targets": {
              "node": "current"
            }
          }
        ]
      ],
      "plugins": [
        [
          "module-resolver",
          {
            "root": ["./src"],
            "alias": {
              "~": "./src"
            }
          }
        ],
        ["@babel/plugin-proposal-decorators", { "legacy": true }],
        ["@babel/plugin-proposal-class-properties", { "loose": true }]
      ]
    },
    "main": {
      "presets": [
        ["@babel/preset-env", {
          "targets": { "node": 7 }
        }]
      ]
    },
    "renderer": {
      "presets": [
        ["@babel/preset-env", { "modules": false }]
      ]
    },
    "web": {
      "presets": [
        ["@babel/preset-env", { "modules": false }]
      ]
    }
  },
  "plugins": [
    "@babel/plugin-transform-runtime"
  ]
}
